@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.h-base-container {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  max-width: 1536px;
}

body {
  font-family: 'Yusei Magic', sans-serif;
}
